@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  /* background: linear-gradient(90deg, rgba(47,192,230,1) 0%, rgba(72,176,235,1) 36%, rgba(74,139,247,1) 68%, rgba(31,125,171,1) 100%); */
}

.logo {
  text-align: center;
  font-family: "LOTTERIACHAB";
  font-size: 80px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  text-shadow: 6px 6px 2px #2fc0e6, 10px 10px 2px #2195b3, 15px 15px 2px #1989ca,
    20px 20px 5px #296685, 25px 25px 5px #e9ec1f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
