* {
  box-sizing: border-box;
}

:root {
  --padding: 60px;
}

.box {
  position: relative;
  margin: 150px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  background-color: #A0DEFF;
  border-radius: 7px;
}

.box img {
  margin-bottom: 25px;
}

.box input,
.box button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
}

.box input {
  margin-bottom: 25px;
}

.box button {
  background-color: #FFFDCB;
  color: #1989ca;
  border-radius: 4px;
  cursor: pointer;
  width: 280px;
}