* {
  box-sizing: border-box;
}

.box {
  position: relative;
  margin: 150px auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: #A0DEFF;
  border-radius: 7px;
}

.box img {
  margin-bottom: 30px;
}

.box .singinInput,
.box .signinButton {
  padding: 15px;
  font-size: 1.2em;
  border: none;
}

.box .singinInput {
  margin-bottom: 25px;
}

.box .signinButton {
  background-color: #FFFDCB;
  color: #1989ca;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 55px;
  margin-top: 20px;
}